* {
    letter-spacing: 0!important;
}

@media only screen and (min-width: 740px){
    #appMountPoint {
        background-color: transparent;
        color: #fff;
    }

    #appMountPoint>div {
        background-color: #000;
        color: #fff;
    }

    .nfHeader.login-header.login-header {
        background: linear-gradient(180deg,rgba(0,0,0,.5) 0,transparent);
        border-bottom: transparent;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

}

#appMountPoint {
    height: 100%;
}

#appMountPoint>div {
    margin: 0;
    min-height: 100%;
    padding: 0;
    position: relative;
    z-index: 0;
}

.hybrid-login-wrapper {
    background-color: #000;
    color: #fff;
}

img {
    border: 0;
}


a {
    background-color: transparent;
    color: #0080ff;
    text-decoration: none;
}

.login-body {
    color: #333;
    margin: 0 auto;
    padding: 0 5%;
}

.hybrid-login-form.hybrid-login-form-signup {
    min-height: 550px;
}

.login-content {
    background-color: #f3f3f3;
    padding-top: 20px;
}

.hybrid-login-form {
    background-color: rgba(0,0,0,.75);
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 515px;
    padding: 20px 0 30px;
    width: 100%;
}

.login-form {
    margin-bottom: 10px;
}

.hybrid-login-form .hybrid-login-form-main {
    flex-grow: 1;
}

.hybrid-login-form h1 {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 28px;
}

h1 {
    margin: 0 0 10px;
    padding: 0;

    color: #333;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0 0 0.4em;
}


.hybrid-login-form .login-form {
    margin-bottom: 0;
}

.hybrid-login-form .login-input {
    padding-bottom: 16px;
}

.hybrid-login-form .nfInput {
    max-width: 100%;
}

.login-input {
    padding-bottom: 24px;
}

.nfInput {
    max-width: 500px;
}

.nfInput, .nfInput .nfInputPlacement {
    position: relative;
}

.hybrid-login-form .nfEmailPhoneInError .nfEmailPhoneControls, .hybrid-login-form .nfPasswordInError .nfPasswordControls {
    position: relative;
}

.nfEmailPhoneControls {
    position: relative;
}

.hybrid-login-form .nfEmailPhoneControls {
    border: 0;
    border-radius: 4px;
}

.error>.nfTextField, .nfTextField.error {
    border-color: #b92d2b;
}

input {
    line-height: normal;
}
