.site-footer-wrapper {
    background: rgba(0,0,0,.75);
    margin-top: 0;
    color: #757575;
    font-size: 1em;
    margin-top: 80px;
    min-width: 190px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
}

.footer-divider {
    border-top: 1px solid #737373;
    height: 0;
    width: 100%;
}

@media only screen and (min-width: 740px) {
    .footer-divider {
        display: none;
    }
}