.hybrid-login-wrapper .nfHeader {
    background: none;
    border: 0;
}

.nfHeader, .nfHeader.signupBasicHeader {
    height: 90px;
}

.nfHeader {
    background-color: #fafafa;
    border-bottom: 1px solid #dcdde0;
    z-index: 2;
}

.svg-nfLogo.signupBasicHeader {
    margin-left: 3%;
}

.svg-nfLogo {
    fill: #e50914;
    display: inline-block;
    line-height: 90px;
    text-decoration: none;
    vertical-align: middle;
}


.svg-nfLogo .svg-icon-netflix-logo {
    height: 90px;
    vertical-align: middle;
    width: 167px;
}

svg:not(:root) {
    overflow: hidden;
}
